global !p
def formatArgs(stuff):
	if stuff == '':
		return "None"
	args = stuff.split(",")
	if len(args) == 1:
		return f"{args[0]} : "
	else:
		return f'{args[0]} :\n' + '\n'.join(f"            {arg.strip()} : " for arg in args[1:])
endglobal

snippet def
def $1(${2:}):
	"""	Arguments:
			`!p snip.rv = formatArgs(t[2])`
		Returns:
			${3:None}
	"""
	$0
endsnippet
